<div id="link-controls">
	<div class="status">
		<p class="lede-in">current view</p>
		<p class="num-entries"><span>#</span> comics</p>
		<a href="#">Reset Sliders</a>
	</div>
	<ul class="characters-mini">
	</ul>
	<ul class="characters">
		<p>Others<span></span></p>
	</ul>
	<ul class="contents">
		<p>Themes</p>
		<select id="themes-list"></select>
	</ul>
</div>
<div id="gallery-view"></div>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>