<ul>
	<% _.each(comics, function(comic){ %>
		<li class="entry"><a href="<%= comic.img_link %>" target="_blank">
			<img src="<%= comic.img %>" />
			<p><%= comic.date_display %></p>
		</a></li>
	<% }); %>
</ul>