<div id="slider-controls">
	<div id="slider-range"></div>
	<ul class="num-ticks unselectable">

		<li class="year-tick first" data-year="1905">1905</li>
		<li class="year-tick" data-year="1906">1906</li>
		<li class="year-tick" data-year="1907">1907</li>
		<li class="year-tick" data-year="1908">1908</li>
		<li class="year-tick" data-year="1909">1909</li>
		<li class="year-tick" data-year="1910">1910</li>
		<li class="year-tick" data-year="1911">1911</li>
		<li class="year-tick" data-year="1912">1912</li>
		<li class="year-tick" data-year="1913">1913</li>
		<li class="year-tick last" data-year="1914">1914</li>
	</ul>
</div>